<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" >
    <title>Cafe Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
	<meta name="_csrf_parameter" content="_csrf" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<meta name="_csrf" th:content="${_csrf.token}" />

    <link rel="stylesheet" th:href="@{/css/common.css}" />

    <link rel="stylesheet" th:href="@{/css/navigation.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>

    <input type="hidden" id="googleMapApiKey" th:value="${googleMapApiKey}" />
    <input type="hidden" id="contextRoot" th:value="${#httpServletRequest.contextPath}" />

<form name="navigation-form" id="navigation-form" class="navigation-form" th:action="@{/}" method="post">
    <nav id="navigation-menu" class="navigation-menu">
        <span id="nav-map" class="menu-item nav-map">
            <img th:src="@{/img/map_icon.svg}" class="item-image" />
            <label class="item-label">MAP</label>
        </span>
        <span id="nav-favorite" class="menu-item nav-favorite">
            <img th:src="@{/img/favorite_icon.svg}" class="item-image" />
            <label class="item-label">お気に入り</label>
        </span>
        <span id="nav-add_spot" class="menu-item nav-add_spot">
            <img th:src="@{/img/add_icon.svg}" class="item-image" />
            <label class="item-label">登録</label>
        </span>
        <span id="nav-diary" class="menu-item nav-diary">
            <img th:src="@{/img/diary_icon.svg}" class="item-image" />
            <label class="item-label">日記</label>
        </span>
    </nav>
</form>

<form name="main-form" id="main-form" class="main-form">
    <main>
        <div id="search-box" class="search-box">
            <label class="start-position-area hidden">
                <input type="text" id="txt-start-position" class="txt-start-position" placeholder="出発地点の住所" />
                <!-- <button type="button" id="address-search-button" class="address-search-button" >Map上で検索</button> -->
                <!-- このボタンを押すと地図上で検索され、その検索でヒットしたところを出発地点にする的な -->
                <input type="checkbox" id="chk-current-position" class="chk-current-position" onchange="toggleStartPosition()">現在地</button>
            </label>
            <label class="limit hidden">
                <input type="number" id="limit-value" class="limit-value" />
                <select id="limit-type">
                    <option value="distance">m</option>
                    <option value="time">分</option>
                </select>
                以内
            </label>
            <!-- <label>
                <input type="radio" id="rd-driving" class="radio-travel-mode" name="travel-mode" value="driving"><label for="rd-driving">車</label>
                <input type="radio" id="rd-transit" class="radio-travel-mode" name="travel-mode" value="transit"><label for="rd-transit">交通機関</label>
                <input type="radio" id="rd-bicycling" class="radio-travel-mode" name="travel-mode" value="bicycling"><label for="rd-bicycling">自転車</label>
                <input type="radio" id="rd-walking" class="radio-travel-mode" name="travel-mode" value="walking"><label for="rd-walking">徒歩</label>
            </label> -->
            <!-- <button type="button" id="search-button" class="search-button" onclick="search()">検索</button> -->
        </div>
        <ul id="result-list" class="result-list">
            <li>
                <img th:src="@{/img/filter_icon.svg}" class="filter-icon" />
                <span class="distance-filter-box">
                    <select id="distance-filter-select">
                        <option value="-1">距離指定なし</option>
                        <option value="500">500 m以内</option>
                        <option value="800">800 m以内</option>
                        <option value="1000">1 km以内</option>
                        <option value="3000">3 km以内</option>
                        <option value="5000">5 km以内</option>
                        <option value="10000">10 km以内</option>
                        <option value="20000">20 km以内</option>
                        <option value="30000">30 km以内</option>
                        <option value="50000">50 km以内</option>
                    </select>
                </span>
                <span class="distance-sort-box">
                    <select id="distance-sort-select">
                        <option value="asc">距離が近い順</option>
                        <option value="desc">距離が遠い順</option>
                    </select>
                </span>
            </li>
        </ul>
        <div id="map" class="map"></div>
    </main>
</form>
    <script th:src="@{/js/navigation.js}"></script>
    <script th:src="@{/js/gmapapi.js}"></script>
    <script>
        const gmapsc = document.createElement("script");
        const apikey = document.getElementById("googleMapApiKey");
        gmapsc.src = `https://maps.googleapis.com/maps/api/js?key=${apikey.value}&callback=initMap`;
        document.body.appendChild(gmapsc);

        CONTEXT_ROOT = document.getElementById("contextRoot").value;
    </script>
    <script th:src="@{/js/spotdata.js}"></script>
    <script th:src="@{/js/index.js}"></script>    
</body>
</html>


