<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafelog.mapper.FavoritesMapper">

    <resultMap id="FavoritesCafeList" type="com.cafelog.entity.Cafe" >
		<id column="cafe_id" property="cafeId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="latitude" property="lat" jdbcType="DOUBLE" />
		<result column="longitude" property="lng" jdbcType="DOUBLE" />
	</resultMap>

    <select id="findAll" resultType="com.cafelog.entity.Favorites">
        select 
            user_id,
            cafe_id
        from 
            favorites
    </select>
    <select id="findById" resultType="com.cafelog.entity.Favorites">
        select 
            user_id,
            cafe_id
        from 
            favorites 
        where 
            user_id = #{user_id} and
            cafe_id = #{cafe_id}
    </select>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into favorites (
            user_id, 
            cafe_id
        ) 
        values (
            #{user_id}, 
            #{cafe_id}
        )
    </insert>
    <update id="update">
        update favorites 
        set 
            user_id = #{user_id}, 
            cafe_id = #{cafe_id}
        where 
            user_id = #{user_id} and
            cafe_id = #{cafe_id}
    </update>
    <delete id="delete">
        delete 
        from 
            favorites 
        where 
            user_id = #{user_id} and
            cafe_id = #{cafe_id}
    </delete>

    <select id="findByUserId" resultMap="FavoritesCafeList">
        select 
            cafe.cafe_id,
            cafe.name,
            cafe.latitude,
            cafe.longitude
        from 
            favorites as fav
            left outer join cafe
            on
                fav.user_id = #{user_id} and
                fav.cafe_id = cafe.cafe_id
    </select>
</mapper>